name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main  # Make sure this matches your GitHub primary branch (usually 'main' or 'master')

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install -g firebase-tools

      # The deploy step:
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          projectId: skelejar-website  # <--- REPLACE THIS
          channelId: live
